body{
    background-image: url(./source/food.png);
}
h1{
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 100px;
}

p{
    font-size: 13px;
    float: left;
}
.input{
 position: relative;
 margin: 0 20%;
}
::-webkit-input-placeholder {
    text-align: center;
    color: rgb(49, 58, 66);
 }

#submitButton{
    margin-top: 50px;
    height: 35px;
    width: auto;
    background-color: grey;
    border-radius: 5px;
}
.col-to{
    margin-left: 30px;
    width: 350px;
    height: 30px;
    text-align: center;
}
.col-from{
    margin-left: 30px;
    position: relative;
    width: 350px;
    height: 30px;
   
    text-align: center;
}
p{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

nav{
    background-color: rgb(53, 49, 49);
    position:fixed;
    top:0;
    left:0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border-radius: 5px;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    color:white;
    width: 100%;
    border-radius: 10px;
}
#nav1, #nav2, #nav3, #nav4{
    background-color: black;
    color: aliceblue;   
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#recipeOutput,#youtubeOutput{
    margin-top: 100px;
}
div{
    margin-left: 10px;
}
